<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.meisterfuu.animexx"
    android:versionCode="94"
    android:versionName="2.1.2" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Common Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- GCM Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="de.meisterfuu.animexx.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="de.meisterfuu.animexx.permission.C2D_MESSAGE" />

    <!-- Account/Sync Permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- Maps Permissions -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AnimexxTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".services.CalSyncService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/calsyncadapter" />
        </service>
        <service
            android:name=".services.AccountService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account" />
        </service>

        <activity
            android:name=".activitys.main.RequestTokenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="animexx" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".activitys.main.LoginActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.ens.SingleENSActivity"
            android:label="@string/title_activity_single_ens"
            android:parentActivityName=".activitys.main.MainActivity" >
        </activity>
        <activity
            android:name=".activitys.ens.NewENSActivity"
            android:label="@string/title_activity_new_ens" >
        </activity>

        <!-- GCM Receiver/Service -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="de.meisterfuu.animexx" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activitys.main.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activitys.main.MainActivity"
            android:theme="@style/AnimexxSettingsTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.meisterfuu.animexx.activitys.main.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.rpg.RPGDetailActivity"
            android:label="@string/title_activity_rpgdetail"
            android:parentActivityName=".activitys.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.meisterfuu.animexx.activitys.main.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.rpg.RPGPostListActivity"
            android:label="@string/title_activity_rpgpost_list"
            android:parentActivityName=".activitys.main.MainActivity"
            android:theme="@style/AnimexxThemeActionBarOverlay"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.meisterfuu.animexx.activitys.main.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.events.SingleEventActivity"
            android:label="@string/title_activity_single_event"
            android:parentActivityName=".activitys.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.meisterfuu.animexx.activitys.main.MainActivity" />
        </activity>
        <activity
            android:name=".xmpp.XMPPChatActivity"
            android:label="@string/title_activity_xmpptest"
            android:parentActivityName=".activitys.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.meisterfuu.animexx.activitys.main.MainActivity" />
        </activity>

        <service
            android:name=".xmpp.XMPPService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="de.meisterfuu.animexx.xmpp.start" />
            </intent-filter>
        </service>
        <service
            android:name=".services.ENSQueueService"
            android:exported="false" >
        </service>

        <activity
            android:name=".AnimexxDebugActivity"
            android:label="@string/title_activity_animexx_debug" >

            <!--
                 <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <receiver android:name=".xmpp.ConnectionManager$AlarmReceiver" >
        </receiver>
        <receiver android:name=".notification.RPGNotificationManager$NotificationDismissedReceiver" >
        </receiver>
        <receiver android:name=".notification.ENSNotificationManager$NotificationDismissedReceiver" >
        </receiver>
        <receiver android:name=".notification.XMPPNotificationManager$NotificationDismissedReceiver" >
        </receiver>
        <receiver android:name=".notification.GBNotificationManager$NotificationDismissedReceiver" >
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/GoogleMapsApiKey" />

        <activity
            android:name=".activitys.share.ImageUploadActivity"
            android:label="@string/title_activity_image_upload" >
        </activity>
        <activity
            android:name=".activitys.share.LocateMeActivity"
            android:label="@string/title_activity_locate_me" >
        </activity>
        <activity
            android:name=".activitys.profiles.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activitys.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.meisterfuu.animexx.activitys.main.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.profiles.GuestbookPostActivity"
            android:label="@string/title_activity_guestbook_post" >
        </activity>
        <activity
            android:name=".activitys.home.NewMicroblogActivity"
            android:label="@string/title_activity_new_microblog"
            android:parentActivityName=".activitys.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.meisterfuu.animexx.activitys.main.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.ens.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".activitys.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.meisterfuu.animexx.activitys.main.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.share.ImagePickerActivity"
            android:label="@string/title_activity_image_picker" >
        </activity>

        <service
            android:name=".services.UploadService"
            android:exported="false" >
        </service>

        <service
            android:name=".services.MangaFetchService"
            android:exported="false" >
        </service>

        <activity
            android:name=".activitys.share.WebDavImageActivity"
            android:label="@string/title_activity_web_dav_image" >
        </activity>

        <service
            android:name=".services.gcm.RegisterGCMIntentService"
            android:exported="false" >
        </service>
        <service
            android:name=".services.gcm.GCMInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".services.gcm.AnimexxGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".activitys.aidb.manga.MangaScanActivity"
            android:label="@string/title_activity_manga_scan" >
        </activity>
        <activity
            android:name=".activitys.aidb.manga.MangaSeriesActivity"
            android:label="@string/title_activity_manga_series" >
        </activity>
    </application>

</manifest>
